
        <form method="POST" action="?pagina=cadastro&metodo=insert">
            <label id="nome">Nome Completo:</label>
            <input type="text" name="nome"  class="campo" id="nome">
            
            <label id="usuario">Usuario:</label>
            <input type="text" name="usuario"  class="campo" id="usuario">

            <label for="senha">Senha:</label>
            <input type="number" name="senha"  class="campo" id="senha">
    
            <label for="email">E-mail</label>
            <input type="email" name="email"  class="campo" id="email">
    
            <label for="cpf">RG</label>
            <input type="number" name="RG"  class="campo" id="RG">
    
            <label for="cpf">CPF:</label>
            <input type="number" name="CPF"  class="campo" id="CPF"> 
    
            <label for="endereço">Endereço:</label>
            <input type="text" name="endereço"  class="campo" id="endereço">
    
            <label for="telefone-">Telefone:</label> 
            <input type="number" name="telefone"  class="campo" id="telefone"> 
    
            <label for="cidade">Cidade: </label>
            <input type="text" name="cidade"  class="campo" id="cidade">
    
            <label for="bairro">Bairro:</label> 
            <input type="text" name="bairro"  class="campo" id="bairro">
            
            <label for="estado">Estado</label>
            <input type="text" name="estado"  class="campo" id="estado">
            
            
            <input type="submit" value="Cadastrar" id="butao" name="cadastrar">
            <input type="reset" value="Cancelar" id="butao">
        </form>
   
