<div>
    <form method="POST" action="?pagina=denuncia&metodo=denunciar" enctype="multipart/form-data">
    <label for="ende">Endereço Ocorrencia</label>
    <input type="text" name="endereço_oco" id="ende">
    <label for="desc">Descrição</label>
    <textarea name="descricao" id="desc" cols="50" rows="5"></textarea>
    <label for="foto">Enviar Foto</label>    
    <input type="file" name="imagen">
    <input type="submit" value="Enviar" id="butao" name="cadastrar">
    <input type="reset" value="Cacenlar" id="butao">
    </form>
</div>