<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <link rel="stylesheet" href="_css/estilo.css">
 
    <title>Estrutura</title>
</head>
<body>
    <header>
        <h1>Cadastro Zer@Dengue</h1>
        <hr>
    </header>
    <header id="cabecalho">
        <nav>
            <a href="http://localhost/CadastroZer@Dengue/?pagina=home">Home</a>
            <a href="http://localhost/CadastroZer@Dengue/?pagina=login">Login</a>
            <a href="http://localhost/CadastroZer@Dengue/?pagina=cadastro">Cadastro</a>
            <a href="http://localhost/CadastroZer@Dengue/?pagina=denuncia">Denúncia</a>
        </nav>
    </header>
    <section>
        <div>
            {{area_dinamica}}
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>